.home-page__content{
    height:100%;
    width: 55%;
    padding: 20px;
    position: relative;
}
.home-page__container{
    background-color: $secondaryColor;
    width:100%;
    border-radius: 20px;  
    padding: 20px;
    height:95vh;
    max-height: 1300px;
}
.home-page__bg{
    background-image: url('../../images/girl-and-pet 1.png'); 
    background-repeat: no-repeat;
    background-position: top right;
    height: 100%;
    width:100%;
    background-size: 100%;   
    position: absolute;
    right:0;
    top:0;
}

  @media screen and (max-width: 1024px) {
    .home-page__content{
        display:none;
    }
  }