.image_container{
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
    width:100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height:166px;

    .image{
        width:100%;
        height:auto;        
    }
}

.icons-container{
    margin:0 auto;
    height:84px;
    width:252px;
    display: flex;
    margin-top:-42px;

    .voting-button{
        width:80px;
        height:80px;
        fill:white;
        border: 4px solid white;
        cursor: pointer;
    }
    .voting-button:nth-child(1){
        background-color: #97EAB9;
        border-right: 2px solid white;
        border-radius: 20px 0 0 20px;
        
        &:hover{
            background-color: #E0F9EA;
        }
    }
    .voting-button:nth-child(2){
        background-color:$primaryColor;
        border-right: 2px solid white;
        border-left: 2px solid white;
        
        &:hover{
            background-color: #FFDBDE;
        };
    }
    .voting-button:nth-child(3){
        background-color: #FFD280;
        border-radius: 0 20px 20px 0;
        border-left: 2px solid white;
        
        &:hover{
            background-color: #FFF2D9;
        };
    }   
    .smile-like{
        width:30px;
        height:30px;
        
    }
    .smile-love{
        width:30px;
        height:26px;
    }
    .smile-dislike{
        width:30px;
        height:30px;
    }   
}
.loader-voqating{
    top:calc(35vh - 75px)!important;
}
.vote-conteiner{
    width:100%;
    border-radius: 10px;
    background:$lightGray;
    margin-top: 10px;
    color:$subtitleColor;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;

    .vote_time{
        color: $mainTextColor;
        background: white;
        padding:3px 10px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .vote_id{
        color: $mainTextColor;
    }

    .vote-icon-like{
        width:20px;
        height:20px;
        fill: #97EAB9;
    }
    .vote-icon-love{
        width:20px;
        height:20px;
        fill: $primaryColor;
    }
    .vote-icon-dislike{
        width:20px;
        height:20px;
        fill: #FFD280;
    } 
    .wrapper{
        width:10%;
        height:100%;
    }
    .vote-icon{
        position: absolute;
        right:22px;
    }  
}
@media screen and (max-width: 720px) {
    .image_container{
        height:100%;
    }
    .vote-conteiner{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}