@import 'utils/colors';
@import 'utils/mixins';

@import 'components/home';
@import 'components/navbar';
@import 'components/breeds';
@import 'components/buttons';
@import 'components/select';
@import 'components/header';
@import 'components/slider';
@import 'components/gallery';
@import 'components/voting';
@import 'components/modal';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;   
}
html {
  height: 100%;
}
body{
  min-height: 100vh;
  background: $backgroundColor;
}
.container{
  display:flex;
  width:100%;
  height: 100%; 
  max-width:2000px;
  margin:0 auto;
}
.content{
  height: 100%;
  width:55%;
  padding: 20px;
}
.breeds__container{
  background-color: white;
  height: 100%;
  width:100%;
  border-radius: 20px;  
  position: relative;
  padding: 20px;
  min-height:calc(100vh - 100px);
}


.loader{
  position: absolute;
  top:calc(50vh - 75px);
  left: calc(50% - 75px);
}

.title-page{
  padding: 0 !important;
  margin: 0 !important;
  min-width:143px;
  height:40px;
  background-color: $primaryColor;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin-right: 10px!important;
}
.title-page__notactive{
  background-color: $secondaryColor;
  color:$primaryColor;
}
p{
  color:$subtitleColor;
}
p span {
  color:$mainTextColor;
}
.search{
  font-size: 20px;
  margin: 20px 0;
}

.top-margin-40{
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .container{
    flex-direction: column;
    height:100%;
    width:100%
  }
}
// @media screen and (min-width: 2000px) {
//   .container{
//     margin:0 auto;
//   }
// }
